<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mysqlImpl" class="com.easy.zlx.dao.UserDaoMysqlImpl"/>
    <bean id="redisImpl" class="com.easy.zlx.dao.UserDaoRedisImpl"/>

    <bean id="UserServiceImpl" class="com.easy.zlx.service.UserServiceImpl">
        <property name="userDao" ref="mysqlImpl"/>
    </bean>

    <bean id="UserServiceImpl1" class="com.easy.zlx.service.UserServiceImpl">
        <property name="userDao" ref="redisImpl"/>
    </bean>

    <!--
    ref：引用spring容器中创建好的对象
    value：具体的值，基本数据类型
    -->


</beans>
