<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="cat" class="com.zlx.easy.Cat"/>
    <bean id="dog" class="com.zlx.easy.Dog"/>

    <!--
    byName：会自动在容器上下文中查找，和自己对象set方法后面的值对应的beanid
            需要保证所以bean的id唯一，并且这个bean要和自动注入的属性的set方法的值一致
    byType：会自动在容器上下文中查找，和自己对象属性类型对应的bean
            bean的class唯一，并且这个bean要和自动注入的属性的类型一致
    -->
    <bean id="person" class="com.zlx.easy.People" autowire="byName">
        <property name="name" value="zlx"/>
<!--        <property name="cat" ref="cat"/>-->
<!--        <property name="dog" ref="dog"/>-->
    </bean>

</beans>