<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="address" class="com.zlx.easy.Address">
        <property name="address" value="武威"/>
    </bean>

    <bean id="student" class="com.zlx.easy.Student">
        <!-- 普通值注入，value-->
        <!--        <property name="name" value="zlx"/>-->
        <property name="name">
            <value>zlx</value>
        </property>

        <!--bean注入，ref-->
        <property name="address" ref="address"/>

        <!--数组-->
        <property name="books">
            <array>
                <value>书1</value>
                <value>书2</value>
            </array>
        </property>

        <!--list-->
        <property name="hobbys">
            <list>
                <value>敲代码</value>
            </list>
        </property>

        <!--map-->
        <property name="card">
            <map>
                <entry key="卡1" value="123"/>
                <entry key="卡2" value="asdf"/>
            </map>
        </property>

        <!--set-->
        <property name="games">
            <set>
                <value>aaa</value>
                <value>bbb</value>
            </set>
        </property>

        <!--string-->
        <property name="wife">
            <null/>
        </property>

        <!--properties-->
        <property name="info">
            <props>
                <prop key="driver">123</prop>
                <prop key="name">zlx</prop>
                <prop key="password">456</prop>
                <prop key="url">www.zlx.com</prop>
            </props>
        </property>


    </bean>

</beans>